.DS_Store
.dart_tool/

.packages
.pub/

build/

*.lock
.idea
*.gradle
*local.properties
example/ios/flutter
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/android/app/src/main/java