.DS_Store
.dart_tool/

.packages
.pub/

build/

*.lock
.idea
*.gradle
*local.properties
example/ios/flutter
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/android/app/src/main/java
# Add files that should not be published
android/build.gradle
android/settings.gradle
example/android/app/build.gradle
example/android/build.gradle
example/android/settings.gradle
example/pubspec.lock
